.mat-mdc-form-field {
  width: 100%;

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: rgba(103, 58, 183, 0.5) !important;
      border-width: 1px !important;
    }
  }

  .mdc-text-field--focused:not(.mdc-text-field--disabled) {
    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-color: #673ab7 !important;
      border-width: 2px !important;
    }
  }

  .mat-mdc-form-field-infix {
    .mat-mdc-input-element {
      color: rgba(0, 0, 0, 0.87) !important;
    }
  }

  .mdc-floating-label,
  .mdc-floating-label--float-above {
    color: rgba(103, 58, 183, 0.8) !important;
  }

  .mat-mdc-form-field-icon-prefix,
  .mat-mdc-form-field-icon-suffix {
    color: rgba(103, 58, 183, 0.8);
  }
}
