.success-snackbar {
  .mdc-snackbar__surface {
    background-color: #4caf50 !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-mdc-snack-bar-actions {
    color: white !important;
  }

  .mdc-button__label {
    color: white !important;
  }

  .mat-mdc-button {
    color: white !important;
  }
}

.error-snackbar {
  .mdc-snackbar__surface {
    background-color: #f44336 !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-mdc-snack-bar-actions {
    color: white !important;
  }

  .mdc-button__label {
    color: white !important;
  }

  .mat-mdc-button {
    color: white !important;
  }
}

.warning-snackbar {
  .mdc-snackbar__surface {
    background-color: #ff9800 !important;
  }

  .mat-mdc-snack-bar-label,
  .mat-mdc-snack-bar-actions {
    color: white !important;
  }

  .mdc-button__label {
    color: white !important;
  }

  .mat-mdc-button {
    color: white !important;
  }
}
