<div class="login-container">
  <div class="login-card">
    <h1>{{ isEditing ? 'Edit Doctor' : 'New Doctor' }}</h1>
    <br />

    <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="doctorForm.get('name')?.errors?.['required']">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Speciality</mat-label>
        <input matInput formControlName="speciality" />
        <mat-icon matPrefix>medical_services</mat-icon>
        <mat-error *ngIf="doctorForm.get('speciality')?.errors?.['required']">
          Speciality is required
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="doctorForm.invalid"
          class="submit-button"
        >
          <mat-icon>save</mat-icon>
          <span>{{ isEditing ? 'Update' : 'Save' }}</span>
        </button>

        <button
          mat-stroked-button
          color="primary"
          type="button"
          routerLink="/doctors"
          class="cancel-button"
        >
          <mat-icon>arrow_back</mat-icon>
          <span>Back to List</span>
        </button>
      </div>
    </form>
  </div>
</div>
